legend {
    padding: 2px 5px;
    background-color: rgb(145, 145, 145);
}

ul {
    width: 250px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    list-style: none;
    padding-bottom: 30px;
}

li {
    margin: 3px 0;
    padding: 2px 7px;
    background-color: rgb(238, 238, 238);
}

li.done {
    background-color: rgb(182, 181, 114);
}

li:hover {
    transform: translateX(5px);
    cursor: pointer;
}

.col {
    height: 570px;
    vertical-align: top;
    display: inline-block;
}

.openBook {
    width: 400px;
    height: 100%;
    display: none;
    vertical-align: top;
}

.openText {
    display: block;
    height: 89.1%;
    padding: 2px 5px;
    margin: 3px 0;
    overflow: scroll;
    overflow-x: hidden;
}

.openArea {
    display: none;
    height: 88.8%;
    padding: 2px 5px;
    margin: 3px 0;
    overflow: scroll;
    overflow-x: hidden;
    resize: none;
}

.buttons {
    margin-top: 10px;
}

.addForm {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    max-width: 250px;
}

.bookFile {
    display: none;
}

.bookText {
    display: none;
    resize: none;
}

.active {
    display: block;
}

.bookFile {
    display: none;
}

.bookText {
    display: none;
    resize: none;
}

.active {
    display: block;
}
